#p {
    font-size: 20px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    font-weight: bold;

}

h2,
h3 {
    color: blue;

}

#p3 {
    font-size: 20px;
    background-color: white;
    color: black;

}

#lista1 {
    list-style-type: square;
}

#lista2 {
    list-style-type: circle;
}

body {
    background-color: #FFCC66;
}


a:link {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    background-color: yellow;
}

span.benefic {
    font-weight: bold;
    color: ;
}

#box {
    text-align: center;
    width: 100%;
    border: 1px solid black;
}